<div *ngIf="freshUser">
  <div class="card success-color text-center z-depth-2">
    <div class="card-body">
      <p class="white-text mb-4">
        Dziękujemy za rejestracje, teraz możesz sie zalogować
      </p>
    </div>
  </div>
</div>
<form [formGroup]="loginForm">
  <p class="h3 text-left bottom-line mb-2">Logowanie</p>
  <div class="md-form">
    <i class="fa fa-user prefix grey-text"></i>
    <input type="text" formControlName="Login" id="loginForm-login" class="form-control" [mdbValidate]="true" [errorMessage]="formErrors.login" [validateSuccess]="false" mdbInputDirective>
    <label for="defaultForm-login">Login</label>
  </div>

  <div class="md-form">
    <i class="fa fa-lock prefix grey-text"></i>
    <input type="password" formControlName="Password" id="loginForm-password" class="form-control" [mdbValidate]="true" [errorMessage]="formErrors.password" [validateSuccess]="false" mdbInputDirective>
    <label for="loginForm-pass">Haslo</label>
  </div>

  <div *ngIf="hasServerErrors">
    <p *ngFor="let error of serverErrors.error" class="indigo-text">{{error}}</p>
  </div>

  <div class="text-center">
    <input [processingInput]="formStatus" type="submit" (click)="onSubmit()" mdbBtn color="mdb-color" class="waves-light" value="Zaloguj">
  </div>
</form>
