<div class="row">
  <div class="col-12">
    <mdb-card>
      <mdb-card-body>
        <form [formGroup]="categoryForm">
          <p class="h4 text-left py-4">Kategorie - tworzenie</p>

          <!-- Material input text -->
          <div class="md-form">
            <input type="text" id="Name" formControlName="Name" class="form-control" mdbInputDirective>
            <label for="Name" class="font-weight-light">Nazwa</label>
          </div>

          <div class="text-right py-4 mt-3">
            <button mdbBtn color="success" class="waves-light" type="submit" mdbWavesEffect>Dodaj kategorie</button>
          </div>
        </form>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
