<aside class="sidebar">
  <ul class="sidebar-menu">
    <li wavesEffect>
      <a routerLink="/admin/dashboard" class="sidebar-menu-link active" href="#" role="button">
        <i class="fa fa-home"></i>
        <span>Glowny panel</span>
      </a>
    </li>
    <li wavesEffect>
      <nav-item>
        <nav-item-head>
          <a class="sidebar-menu-link" role="button">
            <i class="fa fa-question"></i>
            <span>Pytania</span>
          </a>
        </nav-item-head>
        <nav-item-body>
          <ul>
            <li>
              <a class="sidebar-menu-link" role="button">
                <span>Dodaj pytanie</span>
              </a>
            </li>
          </ul>
        </nav-item-body>
      </nav-item>
    </li>
    <li wavesEffect>
      <nav-item>
        <nav-item-head>
          <a class="sidebar-menu-link" role="button">
            <i class="fa fa-question"></i>
            <span>Kategorie</span>
          </a>
        </nav-item-head>
        <nav-item-body>
          <ul>
            <li>
              <a class="sidebar-menu-link" role="button" routerLink="/admin/category/add">
                <span>Dodaj Kategorie</span>
              </a>
            </li>
            <li>
              <a class="sidebar-menu-link" role="button" routerLink="/admin/category/">
                <span>Wyswietl Kategorie</span>
              </a>
            </li>
          </ul>
        </nav-item-body>
      </nav-item>
    </li>
  </ul>

</aside>
