<div class="row">
  <div class="col-12">
    <mdb-card>
      <mdb-card-body>
        <p class="h4 text-left py-4">Kategorie - lista</p>
        <table class="table">
          <thead class="rgba-blue-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nazwa</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories">
              <th scope="row">{{category.id}}</th>
              <td>{{category.name}}</td>
              <td [style.textAlign]="right">
                <ul class="table-options">
                  <li><a (click)="removeCategory(category.id)"><i class="fa fa-trash"></i></a></li>
                  <li><a (click)="editCategory(category.id)"><i class="fa fa-pencil"></i></a></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
